@import "tailwindcss";

html {
  background-color: var(--color-stone-900);
}

.page-enter-active,
.page-leave-active {
  transition: all 0.24s;
}

.page-enter-from,
.page-leave-to {
  opacity: 0;
  filter: blur(.6rem);
}